DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/oficina

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=oficina
POSTGRES_HOST=db
POSTGRES_PORT=5432

JWT_SECRET_KEY=senha
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60